.css3-anim {

	.section-main {
		.conference-date {
			opacity: 0;
			position: relative;
			transform:translate(-60px, 0);
			animation:1s 1s appearFromLeftAnim;
			animation-fill-mode: forwards;
		}
		.main-title {
			opacity: 0;
			position: relative;
			transform:translate(-60px, 0);
			animation:6s 2s appearMainTitleAnim;
			animation-fill-mode: forwards;
		}
		.subtitle {
			opacity: 0;
			position: relative;
			transform:translate(-60px, 0);
			animation:2s 3s appearFromLeftAnim;
			animation-fill-mode: forwards;
		}
		.scroll-icon {
			opacity: 0;
			animation:1s 6s appearAnim;
			animation-fill-mode: forwards;
		}
		.scroll-icon.not-first {
			animation-delay: 0s;
		}
	} //main-section

	.page-navigation li {
		opacity:0;

		&:nth-of-type(1) {
			animation:0.3s 4s appearAnim;
			animation-fill-mode: forwards;
		}
		&:nth-of-type(2) {
			animation:0.3s 4.1s appearAnim;
			animation-fill-mode: forwards;
		}
		&:nth-of-type(3) {
			animation:0.3s 4.2s appearAnim;
			animation-fill-mode: forwards;
		}
		&:nth-of-type(4) {
			animation:0.3s 4.3s appearAnim;
			animation-fill-mode: forwards;
		}
		&:nth-of-type(5) {
			animation:0.3s 4.4s appearAnim;
			animation-fill-mode: forwards;
		}

		@include bp($mobileNavVisible, 'max') {
			&:nth-of-type(1),
			&:nth-of-type(2),
			&:nth-of-type(3),
			&:nth-of-type(4),
			&:nth-of-type(5) {
				animation-name: none;
				animation: none;
				animation-duration: 0s;
				animation-delay: 0s;
				opacity: 1;
			}
		}
	} //page-navigation

	.section-conference {
		.title {
			opacity:0;
			left:-60px;

			&.in-view {
				animation:1s 0s appearFromLeftAnim;
				animation-fill-mode: forwards;
			}
		}
		.text-col > article {
			&:first-child {
				opacity:0;
				transform:translate(-60px, 0);

				&.in-view {
					animation:1s 0s appearFromLeftAnim;
					animation-fill-mode: forwards;
				}
			}
			&:last-child {
				opacity:0;
				transform:translate(60px, 0);

				&.in-view {
					animation:1s 0s appearFromRightAnim;
					animation-fill-mode: forwards;
				}
			}
		}

	} //section conference

	.section-agenda {
		.title {
			opacity:0;
			transform:translate(-60px, 0);

			&.in-view {
				animation:1s 0s appearFromLeftAnim;
				animation-fill-mode: forwards;
			}
		}

		.agenda-element {
			opacity:0;
			transform:translate(-60px, 0);

			.content {
				&:after {
					opacity: 0;
					height:0;
					transition:0.5s height;
					transition-delay: 2s;
				}
			}
			&.in-view {
				.content {
					&:after {
						opacity: 1;
						height:100%;
					}
				}
				&:nth-of-type(1) {
					animation:0.5s 0.2s appearFromRightAnim;
					animation-fill-mode: forwards;
					.content {
						&:after {
							transition-delay: 2s;
						}
					}
				}
				&:nth-of-type(2) {
					animation:0.5s 0.4s appearFromRightAnim;
					animation-fill-mode: forwards;
					.content {
						&:after {
							transition-delay: 2.4s;
						}
					}
				}
				&:nth-of-type(3) {
					animation:0.5s 0.6s appearFromRightAnim;
					animation-fill-mode: forwards;
					.content {
						&:after {
							transition-delay: 2.8s;
						}
					}
				}
				&:nth-of-type(4) {
					animation:0.5s 0.8s appearFromRightAnim;
					animation-fill-mode: forwards;
					.content {
						&:after {
							transition-delay: 3.2s;
						}
					}
				}
				&:nth-of-type(5) {
					animation:0.5s 1s appearFromRightAnim;
					animation-fill-mode: forwards;
					.content {
						&:after {
							transition-delay: 3.6s;
						}
					}
				}
				&:nth-of-type(6) {
					animation:0.5s 1.2s appearFromRightAnim;
					animation-fill-mode: forwards;
					.content {
						&:after {
							transition-delay: 4s;
						}
					}
				}
				&:nth-of-type(7) {
					animation:0.5s 1.4s appearFromRightAnim;
					animation-fill-mode: forwards;
					.content {
						&:after {
							transition-delay: 4.4s;
						}
					}
				}
				&:nth-of-type(8) {
					animation:0.5s 1.6s appearFromRightAnim;
					animation-fill-mode: forwards;
					.content {
						&:after {
							transition-delay: 4.8s;
						}
					}
				}
				&:nth-of-type(9) {
					animation:0.5s 1.8s appearFromRightAnim;
					animation-fill-mode: forwards;
					.content {
						&:after {
							transition-delay: 5.2s;
						}
					}
				}
				&:nth-of-type(10) {
					animation:0.5s 2s appearFromRightAnim;
					animation-fill-mode: forwards;
					.content {
						&:after {
							transition-delay: 5.6s;
						}
					}
				}
			}

		}
	} //section agenda

	.section-speakers {
		.title {
			opacity:0;
			left:-60px;

			&.in-view {
				animation:1s 0s appearFromLeftAnim;
				animation-fill-mode: forwards;
			}
		}
		.speaker {
			.speaker-photo {
				opacity:0;
				transform:translate(-60px, 0);
			}
			.speaker-content {
				opacity:0;
				transform:translate(60px, 0);
			}

			&.in-view {
				.speaker-photo {
					animation:1s 0.3s appearFromLeftAnim;
					animation-fill-mode: forwards;
				}
				.speaker-content {
					animation:1s 0.3s appearFromRightAnim;
					animation-fill-mode: forwards;
				}
			}
		}
	} //section speakers

	.section-location {
		.title {
			opacity:0;
			transform:translate(-60px, 0);

			&.in-view {
				animation:1s 0s appearFromLeftAnim;
				animation-fill-mode: forwards;
			}
		}
		.text-col > article {
			&:first-child {
				opacity:0;
				transform:translate(-60px, 0);

				&.in-view {
					animation:1s 0s appearFromLeftAnim;
					animation-fill-mode: forwards;
				}
			}
			&:last-child {
				opacity:0;
				transform:translate(60px, 0);

				&.in-view {
					animation:1s 0s appearFromRightAnim;
					animation-fill-mode: forwards;
				}
			}
		}
	} //section location

	.section-contact {
		.title {
			opacity:0;
			transform:translate(-60px, 0);

			&.in-view {
				animation:1s 0s appearFromLeftAnim;
				animation-fill-mode: forwards;
			}
		}
		.contact-text {
			opacity:0;
			transform:translate(60px, 0);

			&.in-view {
				animation:1s 0s appearFromRightAnim;
				animation-fill-mode: forwards;
			}
		}
	} //section contact
}

@keyframes appearMainTitleAnim {
	0%   { opacity:0; transform:translate(-60px, 0); text-shadow:0 0 0 rgba(255,255,255,0), 0 0 0 rgba(255,255,255,0);}
	20% { opacity:1; transform:translate(0, 0); text-shadow:0 0 0 rgba(255,255,255,0), 0 0 0 rgba(255,255,255,0); }
	70% { opacity:1; transform:translate(0, 0); text-shadow:0 0 0 rgba(255,255,255,0), 0 0 0 rgba(255,255,255,0); }
	90% { opacity:1; transform:translate(0, 0); text-shadow:0 0 70px rgba(255,255,255,1), 0 0 235px rgba(255,255,255,1); }
	100% { opacity:1; transform:translate(0, 0); text-shadow:0 0 0 rgba(255,255,255,0), 0 0 0 rgba(255,255,255,0); }
}

@keyframes appearFromLeftAnim {
	0%   { opacity:0; transform:translate(-60px, 0); }
	100% { opacity:1; transform:translate(0, 0); }
}
@keyframes appearFromRightAnim {
	0%   { opacity:0; transform:translate(60px, 0); }
	100% { opacity:1; transform:translate(0, 0); }
}
@keyframes appearAnim {
	0%   { opacity:0; }
	100% { opacity:1; }
}
