/* -------------------------------------------------------------------------------- */
/* main header */
/* -------------------------------------------------------------------------------- */
.page-header {
	position: absolute;
	left:0;
	top:0;
	width:100%;
	z-index: 2;

	.page-center {
		position: relative;
	}

	.page-logo {
		position: absolute;
		left:0;
		top:110px;
		z-index: 2;

		@include bp(1550px, 'max') {
			top:80px;
		}

		@include bp($mobileNavVisible, 'max') {
			top:50px;
		}

		img {
			@include bp($mobileNavVisible, 'max') {
				max-width:150px;
				height: auto;
			}
			@include bp(780px, 'max') {
				max-width:100px;
				height: auto;
			}
		}

		@include bp($mobileNavVisible, 'max') {
		    left:30px;
		}
	}
}