/* -------------------------------------------------------------------------------- */
/* page navigation */
/* -------------------------------------------------------------------------------- */
.page-navigation {
	position: absolute;
	right:30px;
	top:60px;
	z-index: 1;

	ul {
		list-style:none;
		padding:0;
		margin:0;
	}

	li {
		height:35px;
		overflow: hidden;
		border-bottom:1px solid #4B4A72;
		transition:0.6s height;

		@include bp(1580px, 'max') {
			height:30px;
		}

		a {
			text-transform: uppercase;
			display: block;
			font-family: 'LatoLatinWebThin', sans-serif;
			font-size:42px;
			height:35px;
			line-height: 52px;
			text-align: center;
			color:#fff;
			opacity:0.8;
			text-decoration: none;
			text-shadow:0 0 1px rgba(255,255,255,0), 0 0 5px rgba(255,255,255,0), 0 0 6px rgba(255,255,255,0);

			@include bp(1580px, 'max') {
				height:30px;
				line-height: 40px;
				font-size:35px;
			}
		}

		&:hover {
			height:42px;

			a {
				animation: navLinkAnimation 1s 1 linear;
				color:#fff;
				opacity: 1;
			}
		}
	}
	@include bp($mobileNavVisible, 'max') {
		position: absolute;
		left:0;
		top:0;
		width:100%;
		background: #17151F;
		margin-top:-260px;
		height:260px;
		overflow: hidden;
		transition:0.5s 0.5s height;
		box-shadow: inset 0px -10px 10px -4px rgba(0, 0, 0, 0.05);

		ul {
			padding:30px 0;
		}

		li {
			height: 40px;
			border:0;

			&:hover {
				height:40px;
			}

			a {
				height:4px;
				line-height: 40px;
				font-size:25px;
			}
		}
	}
}

@keyframes navLinkAnimation {
	0%   { text-shadow:0 0 1px rgba(255,255,255,0), 0 0 5px rgba(255,255,255,0), 0 0 6px rgba(255,255,255,0); }
	50%   { text-shadow:0 0 1px rgba(255,255,255,1), 0 0 12px rgba(255,255,255,1), 0 0 15px rgba(255,255,255,1); }
	100% { text-shadow:0 0 1px rgba(255,255,255,0), 0 0 5px rgba(255,255,255,0), 0 0 6px rgba(255,255,255,0); }
}

.nav-toggle {
	z-index: 2;
	display: none;
	width:60px;
	height: 60px;
	position: absolute;
	top:45px;
	right:30px;
	border:2px solid #fff;
	background: none;
	border-radius: 2px;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	span {
		display: block;
		width:80%;
		margin:2px auto;
		background: #fff;
		height:3px;
		position: relative;

		&:before {
			position: absolute;
			left:0;
			top:-10px;
			content:'';
			width:100%;
			background: #fff;
			height:3px;
		}
		&:after {
			position: absolute;
			left:0;
			top:10px;
			content:'';
			width:100%;
			background: #fff;
			height:3px;
		}
	}

	.nav-open & {
		span {
			background: rgba(0,0,0,0);
			&:before {
				transform:rotate(45deg);
				top:0;
			}
			&:after {
				transform:rotate(-45deg);
				top:1px;
			}
		}
	}

	@include bp($mobileNavVisible, 'max') {
		display: block;
	}
}

@include bp(1080px, 'max') {
	.nav-open .page-container {
		transform: translate(0, 260px);
	}
}