.navigation-step {
	position: fixed;
	top:50%;
	right:10px;
	z-index: 5;
	transform:translate(0, -50%);
	transition:0.5s right;

	&.show {
		li {
			right:0;
		}
	}

	ul {
		list-style:none;
		padding:0;
		margin:0;
	}

	li {
		position: relative;
		margin-bottom:6px;
		right:-30px;
		transition: 0.2s right;

		&:nth-of-type(1) {
			transition-delay: 0s;
		}
		&:nth-of-type(2) {
			transition-delay: 0.1s;
		}
		&:nth-of-type(3) {
			transition-delay: 0.2s;
		}
		&:nth-of-type(4) {
			transition-delay: 0.3s;
		}
		&:nth-of-type(5) {
			transition-delay: 0.4s;
		}

		a {
			width:15px;
			height:15px;
			border-radius: 50%;
			border:1px solid #fff;
			display: block;
			text-indent: -999px;
			overflow: hidden;
			transition:0.3s transform;
			
			&:hover {
				transform:scale(1.2,1.2);
			}
		}

		&.active {
			a {
				background: #FFF;
			}
		}
	}
}