@font-face {
    font-family: 'LatoLatinWebThin';
    src: url('/fonts/LatoLatin-Thin.eot');
    src: url('/fonts/LatoLatin-Thin.eot?#iefix') format('embedded-opentype'),
         url('/fonts/LatoLatin-Thin.woff2') format('woff2'),
         url('/fonts/LatoLatin-Thin.woff') format('woff'),
         url('/fonts/LatoLatin-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'LatoLatinWebLight';
    src: url('/fonts/LatoLatin-Light.eot');
    src: url('/fonts/LatoLatin-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/LatoLatin-Light.woff2') format('woff2'),
    url('/fonts/LatoLatin-Light.woff') format('woff'),
    url('/fonts/LatoLatin-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'LatoLatinWeb';
    src: url('/fonts/LatoLatin-Regular.eot');
    src: url('/fonts/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/LatoLatin-Regular.woff2') format('woff2'),
    url('/fonts/LatoLatin-Regular.woff') format('woff'),
    url('/fonts/LatoLatin-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}