/* ---------------------------------------------------------- */
/* layouts */
/* ---------------------------------------------------------- */
* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-family: $fontFamily;
	font-size: 1em;
	line-height: 1.5em;
	color: #fff;
	margin: 0 auto;
	background:#292639 url(/images/section1-bg.jpg) center top no-repeat;
	background-attachment: fixed;
	overflow-x: hidden;
}

section[class^='section-'] {

}

.css3-anim, .no-css3-anim {
	section[class^='section-'] {
		opacity:1;
	}
}

.page-container {
	min-height: 100%;
	transition: 0.5s transform;
}

.page-center {
	max-width: 1600px;
	width:90%;
	margin:0 auto;

	@include bp(1080px, 'max') {
	    width:100%;
	}
}

.title {
	font-size:90px;
	text-align: center;
	font-weight:200;
	font-family: 'LatoLatinWebThin', sans-serif;
	color:#2BBAFA;
	background: -webkit-linear-gradient(#73E2FE, #2BBAFA);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	height:90px;
	line-height: 90px;
	text-transform: uppercase;
	margin:100px 0;


	@include bp(830px, 'max') {
		font-size:70px;
		margin:70px 0;
	}
	@include bp(560px, 'max') {
		font-size:50px;
		margin:50px 0;
	}
	@include bp(400px, 'max') {
		font-size:40px;
		margin-bottom:40px;
	}
}

.btn {
	box-shadow:inset 0 0 0 1px #54CDE0;
	padding:25px 30px;
	margin:0 auto;
	font-weight:200;
	font-family: 'LatoLatinWebThin', sans-serif;
	font-size:18px;
	border:0;
	border-radius: 2px;
	text-transform: uppercase;
	display: inline-block;
	color:#fff;
	text-decoration: none;
	transition: 0.5s box-shadow;
	background: none;
	cursor: pointer;
	position: relative;
	overflow:hidden;

	.ripple {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		width: 0;
		height: 0;
		border-radius: 50%;
		background: rgba(84,205,224, .25);
	}
	&.is-active .ripple {
		animation: rippleAnim 0.4s ease-in;
	}
}

@keyframes rippleAnim {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	100% {
		width: 200%;
		padding-bottom: 200%;
		opacity: 0;
	}
}

.loading {
	position: relative;
	pointer-events: none;
	opacity:0.5;

	&::after {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: 2px solid rgba(255, 255, 255, 0.2);
		border-right-color: rgba(255, 255, 255, 0.7);
		transform: translate(-50%, -50%) rotate(0deg);
		content:'';
		animation: rotateSingleLoading 0.3s infinite linear;
		z-index: 100;
	}
}

@keyframes rotateSingleLoading {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.text-col {
	@include clearfix;
	margin:0 auto;
	max-width:995px;
	width:90%;
	font-family:'LatoLatinWebLight', sans-serif;
	font-size:24px;
	color:rgba(255,255,255,0.8);
	font-weight:200;
	line-height: 1.2em;

	& > * {
		width:50%;
		float:left;

		&:first-child {
			padding-right:30px;
		}
		&:last-child {
			padding-left:30px;
		}
	}

	.subtitle {
		color:#fff;
		font-family:'LatoLatinWebLight', sans-serif;
		display: block;
		text-transform: uppercase;
		font-size:30px;
		font-weight:200;
		line-height: 1.2em;

		@include bp(400px, 'max') {
			font-size:25px;
		}
	}

	@include bp(830px, 'max') {
		& > * {
			width:100%;
			float:none;
			padding:0;

			&:first-of-type {
				margin-bottom:30px;
			}
			&:first-child,
			&:last-child {
				padding:0;
			}
		}
	}
	@include bp(400px, 'max') {
		font-size:20px;
	}
}

















