/* -------------------------------------------------------------------------------- */
/* main section */
/* -------------------------------------------------------------------------------- */
.section-main {
    display: table;
    background-size: cover;
    position: relative;
    width: 100%;
    height:100%;
    height: 100vh;

    & > div {
        display: table-cell;
        position: relative;
        vertical-align: middle;
        height: 100%;
        min-height: 600px;

        @include bp(560px, 'max') {
            padding-top:80px;
        }
    }
    .content {
        text-align: center;
        color:#fff;
        font-family:'LatoLatinWebLight', sans-serif;
        display: block;
    }
    .conference-date {
        font-family:'LatoLatinWebThin', sans-serif;
        font-size:36px;
        text-transform: uppercase;
        display: block;
        text-align: center;
        animation:1s 1s conferenceDateAnim;

        @include bp(720px, 'max') {
            font-size:30px;
        }
        @include bp(550px, 'max') {
            font-size:25px;
        }
        @include bp(440px, 'max') {
            font-size:20px;
        }
    }
    .main-title {
        text-transform: uppercase;
        font-size:70px;
        line-height: 1.1em;
        font-weight: 200;
        max-width: 940px;
        margin: 80px auto;

        @include bp(1550px, 'max') {
            font-size:50px;
            margin:50px auto;
            max-width:700px;
        }
        @include bp(1280px, 'max') {
            font-size:40px;
            margin:50px auto;
            max-width:600px;
        }
        @include bp(780px, 'max') {
            font-size:40px;
            margin-top:50px;
            max-width:600px;
        }
        @include bp(550px, 'max') {
            font-size:30px;
        }
        @include bp(440px, 'max') {
            font-size:25px;
        }
        @include bp(360px, 'max') {
            font-size:20px;
        }
        @include bpc('(min-width:1550px) and (max-height:640px)') {
            font-size:60px;
            margin:40px auto;
        }
    }
    .subtitle {
        font-family:'LatoLatinWebThin', sans-serif;
        font-size:30px;
        text-transform: uppercase;
        font-weight: 200;
        line-height: 1.1em;
        max-width:570px;
        margin:0 auto;

        @include bp(720px, 'max') {
            margin-top:50px;
            font-size:30px;
        }
        @include bp(550px, 'max') {
            margin-top:50px;
            font-size:25px;
        }
        @include bp(440px, 'max') {
            font-size:20px;
        }
    }
    .scroll-icon {
        width:19px;
        display: block;
        position: absolute;
        bottom:30px;
        left:50%;
        transform:translate(-50%, 0);

        span {
            display: block;
            background: url(/images/mouse-icon.png) no-repeat;
            width:19px;
            height:42px;
            margin-top:8px;
            position: relative;

            &:before {
                background: url(/images/mouse-icon.png) -29px -5px no-repeat;
                width:5px;
                height: 11px;
                position: absolute;
                display: block;
                content:'';
                left: 8px;
                top: 5px;
                animation: mouseScroll 0.3s infinite alternate;
            }
        }

        &:before {
            background: url(/images/mouse-icon.png) -39px 0 no-repeat;
            height:25px;
            content:'';
            display: block;
            width:100%;
        }
        &:after {
            background: url(/images/mouse-icon.png) -39px 0 repeat-y;
            height:55px;
            content:'';
            display: block;
            width:100%;
        }

        @include bph(840px, 'max') {
            &:before, &:after {
                display: none;
            }
        }
    }
}

@keyframes mouseScroll {
    0%   { transform:translate(0, 0); }
    100% { transform:translate(0, 10px); }
}