/* -------------------------------------------------------------------------------- */
/* contact section */
/* -------------------------------------------------------------------------------- */
.section-contact {
    @include clearfix;
    padding: 0 0 130px;
    background: #363843;

    .contact-text {
        margin:0 auto 80px;
        max-width:620px;
        text-align: center;
        font-family:'LatoLatinWebLight', sans-serif;
        font-size:30px;
        line-height: 1.1em;
        color:#808188;
        text-transform: uppercase;
        width:90%;
    }
}

.message-complete {
    border:1px solid rgba(255,255,255,0.1);
    max-width: 80%;
    margin:0 auto;

    .subtitle {
        font-size:40px;
        text-align: center;
        font-weight:200;
        font-family: 'LatoLatinWebThin', sans-serif;
        color:#2BBAFA;
        background: -webkit-linear-gradient(#73E2FE, #2BBAFA);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        height:40px;
        line-height: 40px;
        text-transform: uppercase;
        margin:80px 0 60px;
    }

    .text {
        margin:0 auto 80px;
        max-width:620px;
        text-align: center;
        font-family:'LatoLatinWebLight', sans-serif;
        font-size:20px;
        line-height: 1.1em;
        color:#808188;
        text-transform: uppercase;
        width:90%;

        a {
            color:#fff;
            text-decoration: none;
        }
    }
}

.form {
    max-width:695px;
    margin:0 auto;

    .btn {
        min-width:230px;
    }
    .row {
        margin-bottom:30px;
    }
    fieldset {
        border:0;
    }
    label {
        display: block;
        font-family:'LatoLatinWebLight', sans-serif;
        font-size:24px;
        margin-bottom:5px;
        text-align: center;
    }
    input[type=text],
    input[type=email],
    input[type=url],
    textarea {
        border:0;
        height:50px;
        line-height: 1;
        padding:0 10px;
        font-size:20px;
        font-family:'LatoLatinWebLight', sans-serif;
        color:#333;
        max-width:435px;
        display: block;
        margin:0 auto;
        width: 100%;
        border-radius:2px;

        &:focus, &:active {
            box-shadow:inset 0 0 0 2px #54CDE0;
        }

        @include bp(530px, 'max') {
            width:100%;
            max-width: 100%;
        }
    }
    textarea {
        padding:10px;
        height:190px;
        max-width: 100%;
    }
    .chk {
        cursor: pointer;
        max-width: 100%;
        width: 100%;
        position: relative;
        font-size:13px;
        padding-left:50px;
        text-align: left;

        input {
            opacity:0;
            position: absolute;
            left:0;
            top:0;
        }

        .icon {
            position: absolute;
            left:0;
            top:0;
            width:23px;
            height: 23px;
            border-radius: 2px;
            background: #fff;
            display: inline-block;
        }

        input:checked ~ .icon {
            &:before {
                transform: rotate(45deg);
                transition: 0.3s background;
                background: #363843;
                width: 8px;
                height: 3px;
                display: block;
                content: '';
                position: absolute;
                top: 12px;
                left: 5px;
            }
            &:after {
                transform: rotate(-45deg);
                transition: 0.3s background;
                background: #363843;
                width: 10px;
                height: 3px;
                display: block;
                content: '';
                position: absolute;
                top: 11px;
                left: 9px;
            }
        }
    }
    .error {
        input[type=text],
        input[type=email],
        input[type=url],
        .chk .icon,
        textarea {
            background: #FF7E7E;
        }
    }
    .error-text {
        font-family:'LatoLatinWebLight', sans-serif;
        font-size:24px;
        color:#E4585A;
        text-align: center;
        margin:10px 0;
    }
}