/* -------------------------------------------------------------------------------- */
/* agenda section */
/* -------------------------------------------------------------------------------- */
.section-speakers {
    @include clearfix;
    background: #292638;

    .speaker {
        position: relative;
        overflow: hidden;
        height:250px;
        transition: 0.5s height;

        &:before {
            position: absolute;
            left:0;
            top:0;
            right:0;
            bottom:0;
            background: #fff;
            content:'';
            opacity:0;
            transition:0.5s opacity;
        }

        .content {
            width:740px;
            max-width:100%;
            margin:0 auto;
            position: relative;
        }

        .speaker-photo {
            max-width:50%;
            width:370px;
            height: 100%;
            float:left;
            overflow: hidden;

            img {
                transition:0.5s transform;
                transform:translate(0, -40px);
                display: block;
            }
        }
        .speaker-content {
            max-width:50%;
            width:370px;
            float:left;
            padding:35px 40px;
            position: relative;
        }
        .speaker-title {
            font-family:'LatoLatinWebLight', sans-serif;
            font-weight: 200;
            font-size:36px;
            text-transform: uppercase;
            line-height: 1.1em;
            margin-top:0;
            transition: 0.5s margin-top;

            @include bp(650px, 'max') {
                font-size:26px;
            }

            span {
                font-family:'LatoLatinWebThin', sans-serif;
                display: block;
                font-size:19px;
                text-transform: none;
                font-weight: 100;
            }
        }
        .speaker-description {
            height: 0;
            overflow: hidden;
        }
        .close-btn {
            background: url(/images/toggle.png) center bottom no-repeat;
            width:30px;
            height: 30px;
            text-indent:-999px;
            overflow: hidden;
            cursor:pointer;
            border-radius: 2px;
            border:0;
            box-shadow:inset 0 0 0 1px #4D4D4D;
            position: absolute;
            top:35px;
            left:40px;
            opacity:0;
            transition: 0.4s opacity, 0.5s box-shadow, 0.4s background-color, 0.3s transform;
            pointer-events: none;

            &:focus, &:active {
                outline:0;
            }

            &:hover {
                box-shadow:inset 0 0 0 1px #000;
                background-color: rgba(0,0,0,0.1);
                transform:translate(0, 3px);
            }
        }
        .open-btn {
            background: url(/images/toggle.png) center top no-repeat;
            width:30px;
            height: 30px;
            text-indent:-999px;
            overflow: hidden;
            cursor:pointer;
            border-radius: 2px;
            border:0;
            box-shadow:inset 0 0 0 1px #E8D8C3;
            opacity: 1;
            transition: 0.5s box-shadow, 0.5s opacity, 0.4s background-color, 0.3s transform;
            position: absolute;

            &:hover {
                box-shadow:inset 0 0 0 1px #fff;
                background-color: rgba(255,255,255,0.1);
                transform:translate(0, 3px);
            }
        }

        &:nth-of-type(1) {
            background: url(/images/spekers-bg/speaker1.jpg) center top no-repeat;
            background-size: cover;
        }
        &:nth-of-type(2) {
            background: url(/images/spekers-bg/speaker2.jpg) center top no-repeat;
            background-size: cover;
        }
        &:nth-of-type(3) {
            background: url(/images/spekers-bg/speaker3.jpg) center top no-repeat;
            background-size: cover;
        }
        &:nth-of-type(4) {
            background: url(/images/spekers-bg/speaker4.jpg) center top no-repeat;
            background-size: cover;
        }
        &:nth-of-type(5) {
            background: url(/images/spekers-bg/speaker5.jpg) center top no-repeat;
            background-size: cover;
        }

        &.open {
            height: 500px;

            &:before {
                opacity:1;
            }

            .close-btn {
                opacity: 1;
                pointer-events: auto;
            }
            .open-btn {
                opacity:0;
                visibility: hidden;
                margin-top:10px;
            }

            .speaker-title {
                margin-top:50px;
                font-size:46px;
                color:#000000;
                font-family:'LatoLatinWeb', sans-serif;

                span {
                    font-family:'LatoLatinWeb', sans-serif;
                }
            }
            .speaker-photo {
                img {
                    transform:translate(0, 0);
                }
            }
            .speaker-description {
                height:370px;
                color:#000;
                font-size:18px;
            }
        }

        &:nth-of-type(2n) {
            .speaker-photo {
                float: right;
            }
            .speaker-content {
                float: left;

                .close-btn {
                    right:40px;
                    left:auto;
                }
                .open-btn {
                    right:40px;
                    left:auto;
                }
                .speaker-title {
                    text-align: right;
                }
                .speaker-description {
                    text-align: right;
                }
            }
        }

        @include bp(470px, 'max') {
            height: auto;

            .speaker-photo {
                width: 100%;
                float: none;
                max-width: 100%;
                height: 270px;

                img {
                    width: 100%;
                    height: auto;
                    margin-top:-50px;
                }
            }
            .speaker-content {
                width:100%;
                float:none;
                max-width: 100%;
                padding: 35px 40px 60px;
            }

            &.open {
                height:auto;

                .speaker-content {
                    .speaker-description {
                        height: auto;
                    }
                }
            }
        }
    }
}