/* -------------------------------------------------------------------------------- */
/* map section */
/* -------------------------------------------------------------------------------- */
.section-map {
    .google-map {
        height:495px;
    }
    .map-tooltip-content {
        .tooltip-title {
            font-size:20px;
            font-family:'LatoLatinWebLight', sans-serif;
            color:#23B7FA;
            margin:10px 0 20px;
        }
        .tooltip-text {
            font-size:20px;
            font-family:'LatoLatinWebLight', sans-serif;
            color:#333;
        }
    }
}