/* -------------------------------------------------------------------------------- */
/* agenda section */
/* -------------------------------------------------------------------------------- */
.section-agenda {
    @include clearfix;
    background: #383251;
    padding:0 0 60px;

    .agenda-list {
        max-width:990px;
        margin:0 auto;
    }

    .agenda-element {
        @include clearfix;
        position: relative;

        .content {
            width: 100%;
            height: 100%;
            position: relative;
            padding-left: 100px;
            padding-bottom:40px;
            padding-right: 30px;

            &:before {
                background: #383251;
                border:1px solid #5B6584;
                border-radius: 50%;
                width:20px;
                height:20px;
                left:30px;
                position: absolute;
                top:10px;
                content:'';
                z-index: 2;
                transform:translate(-50%, 0);
                transition:0.5s background-color, 0.5s width, 0.5s height;
            }
            &:after {
                width:1px;
                top:10px;
                bottom:0;
                background: #5B6584;
                position: absolute;
                left:30px;
                content:'';
            }
        }

        &:last-of-type {
            .content {
                padding-bottom:70px;
            }
        }

        .last-dot {
            background: #383251;
            border:1px solid #5B6584;
            border-radius: 50%;
            width:20px;
            height:20px;
            left:30px;
            position: absolute;
            transform:translate(-50%, 0);
            bottom:-10px;
            z-index: 2;
        }

        &:first-child {
            .content:after {
                top:14px;
            }
        }

        .agenda-element-header {
            padding-left:160px;
            position: relative;
            min-height: 48px;

            time {
                position: absolute;
                left:0;
                top:0;
                width:158px;
                font-family:'LatoLatinWebThin', sans-serif;
                font-size:48px;
                line-height: 48px;
                height: 48px;
                text-transform: uppercase;
                background: -webkit-linear-gradient(#73E2FE, #2BBAFA);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .agenda-subtitle {
                opacity:0.3;
                color:#fff;
                font-family:'LatoLatinWebLight', sans-serif;
                font-weight: 200;
                padding-top:10px;
                line-height: 1.1em;
                font-size:30px;
                margin-top:0;
                margin-bottom:20px;
                transition:0.5s opacity, 0.5s margin-bottom;

                a {
                    color:#fff;
                    text-decoration: none;
                }
            }

            &:hover {
                .agenda-subtitle {
                    opacity:1;
                }
            }
        }

        .agenda-description {
            @include clearfix;
            font-family:'LatoLatinWebLight', sans-serif;
            font-weight: 200;
            font-size:24px;
            color:#BBBBBF;
            max-height:0;
            overflow: hidden;
            transition: 1s max-height;
        }

        //.agenda-element-show
        &.show {
            .content {
                &:before {
                    width:28px;
                    height: 28px;
                    background: #5B6584;
                }
            }
            .agenda-element-header {
                .agenda-subtitle {
                    opacity:1;
                    margin-bottom:30px;
                }
            }
            .agenda-description {
                max-height:600px;
            }
        }

        @include bp(670px, 'max') {
            .content {
                padding-left:50px;
                padding-right:40px;
                padding-bottom: 20px;

                &:before, &:after, .last-dot {
                    display: none;
                }

            }
            .agenda-element-header {
                padding-left:0;

                time {
                    float: none;
                    margin: 0 auto;
                    font-size:30px;
                    position: relative;
                    left:auto;
                    top:auto;
                }
                .agenda-subtitle {
                    font-size:25px;

                    a {
                        color: #FFF;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
